    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>The Company</h2>
              <br/>
              <div class="lead">
                <p><b>Biz Apps Company</b> is an Australian based research and development startup specialized in developing business applications at scale using Microsoft Power Platform and Azure cloud services.</p>
                <p>Our main focus is to provide innovative software products that go beyond customers' expectations. We love to innovate, research and work with cutting-edge technologies.</p>
              </div>
                <br/>
              </div>
        </div>
    </section>
